.header{
    display: flex;
    justify-content: center;
}

.header-logo{
    margin-top: 1em;
    padding: 0.1em;
    border-radius: 0.2em;
    text-align: center;
    color: white;
    background: rgb(242, 62, 92);
}

.header-btn{
    display: none;
}

.header-icon{
    
}