.header{
    @include container;
    display: flex;
    flex-direction: column;
}

.header-logo{
    padding: 0.2em 0.2em;
    border-radius: 0.2em;
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: 'Oleo Script',
    cursive;
    background: $logo-bg-color;
    margin-left:auto ;
    margin-right: auto;
}

.header-btn{
    display: none;
}

.header-icon{
    display: inline-block;
    cursor: pointer;
    padding: 1em 1em;
    border-radius: 5px;
    background: $header-icon-bg;
    margin: 5px auto 0 5px ;
}

.header-icon .navicon{
 background: $navicon-bg;
 display: block;
 height: 2px;
 position: relative;
 transition: background .2s ease-out;
 width: 18px;
}

.header-icon .navicon:before,
.header-icon .navicon:after {
    background: $navicon-bg;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header-icon .navicon:before {
    top: 5px;
}

.header-icon .navicon:after {
    top: -5px;
}

.header-btn:checked ~ .header-icon .navicon{
    background: transparent;
}

.header-btn:checked~.header-icon .navicon:before {
    transform: rotate(-45deg);
}

.header-btn:checked~.header-icon .navicon::after {
    transform: rotate(45deg);
}

.header-btn:checked~.header-icon:not(.steps) .navicon:before,
.header-btn:checked~.header-icon:not(.steps) .navicon:after {
    top: 0;
}

.header-btn:checked ~ .header-menu{
    height: 272px;
}

.header-menu{
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}


.header-element{
    margin-top: 1em;
    padding: 0.6em;
    &:hover{
        background: $nav-link-bg;
    }
    &:hover .header-link{
        color: white;
    }
}

.header-link{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: $nav-link-color;
}