.images{
    display: grid;
    grid-template-columns: 1fr;
    font-weight: 300;

}

.images-card{
    width: 60%;
    margin: 2em auto;
    border-radius: 1em;
    background: white;
}
.images-card-image img{
    width: 100%;
    border-radius: 1em 1em 0 0 ;
}

.images-card-content{
    padding: 1em;
}

.images-card-title{
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.images-card-description{
    padding-bottom: 1.5em;
}

.images-card-text{
    line-height: 2em;
}

@include desktop{
    .images{
        @include container;
        padding: 0.7em;
        grid-template-columns: repeat(3,1fr);
        gap:2em;
    }
    .images-card{
        width: 100%;
    }
}