$bg-primary:#E4E4E4;
$font-primary:#444444;
$logo-bg-color:#fc4887;
$btn-featured-color:#1691c3;
//nav

$nav-link-bg:#444444;
$nav-link-color:#696969;


//navicon

$header-icon-bg:#bdbdbd;
$navicon-bg:#efefef;



