$bg-primary:#E4E4E4;
$font-primary:#444444;
$logo-bg-color:#fc4887;
$btn-featured-color:#1691c3;

$desktop:1000px;
//nav

$nav-link-bg:#444444;
$nav-link-color:#696969;


//navicon

$header-icon-bg:#bdbdbd;
$navicon-bg:#efefef;


//open

$open-bg:white;
$hover-btn-bg:#0090c5;
$hover-btn-color:white;
$btn-bg:#f2f2f2;
$btn-color:#505050;



