@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import "reset";
@import "utilis";
@import "variable";
@import "grid";
@import "header";
@import "custom";
@import "open";


body{
    background: $bg-primary;
    color: $font-primary;
    font-family: 'Open Sans',
    sans-serif;
}